#row1{
  padding-top: 30px;
  padding-bottom: 15px;
}
.navbar{
  text-align: center;
  margin-left: 42%;

}

#submitbtn{
  margin-left: 42%;
  border-color: #B0E0E6;
  background-color: transparent;

}
